@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #FAFAFA ;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

html {
    font-size: 62.5%;       /* 1 rem = 10px oluyor bunu koyunca bunu yapmamın amacı responsive yapmak*/
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background-color: #FAFAFA;

}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #405260;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: var(--main-color);
    height: 200vh;
    overflow-x: hidden;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #405260;
    cursor: pointer;
}

.btn:hover {
    background-color: #CEB211;
    opacity: 0.5;
}

.heading {
    font-size: 3rem;
    color: #000000;
    margin: 3.5rem 0;
    padding: 1rem 0;
    text-transform: uppercase;
    border-bottom: dotted 0.2rem #405260;
}
section{
    padding: 3.5rem 7%;
}

/* Header başlangıç */

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #ffffff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px  rgb(0 0 0 / 75%);
    transform: scaleY(0);
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form i {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #000000;
}

.header .search-form input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.8rem;
    padding: 0 2rem;
    border-radius: 3rem;
    background-color: transparent;
}

.header  img {
    height: 8rem;
}
.header {
    background-color: #405260;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.header .navbar .active,
.header .navbar a:hover {
    color: #CEB211  ;
}

.header .buttons button {
    cursor: pointer;
    font-size: 2.0rem;
    margin-left: 2rem;
    background-color: transparent;

}

#menu-btn {
    display: none;
}
    
/* Header bitiş */ 

.home {
min-height: 100vh;
background: url(../images/ada.jpg) 
no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
}



.home .container {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #003366;
    text-shadow: 0.3rem 0rem 0.5rem #ffffff;
    
} 

.home .content p {
    font-size: 2rem;
    color: #000000;
    margin: 2rem 0;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    text-shadow: 0.3rem 0rem 0.5rem #ffffff;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem;
    background-color: #d8e1e7;
    border-radius: 3rem;
    background-color: #a8b9c5;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img {
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
}

.menu .box-container .box h3 {
    font-size: 2.0rem;
    color: #000000;
    margin: 1rem 0;
    padding: 1rem 0;
}

.menu .box-container .box .açıklama {
    font-size: 1.5rem;
    color: #000000;
    margin: 1rem 0;
    padding: 1rem 0;
}

/* geri dönütler start */

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #a8b9c5;
    border-radius: 3rem;
  }
  
  .review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
  }
  
  .review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
  }
  
  .review .box-container .box .stars i {
    font-size: 1.5rem;
    color: gold;
  }

  .review .box-container  :hover {
    color: #000000;
    transform: scale(1.1);
  }
/* geri dönütler bitiş */

/* contact başlangıç */

.contact .row {
    display: flex;
    background-color: #a8b9c5;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  
  .contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #ffffff;
  }
  
  .contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
    border-radius: 3rem;
  }
  
  .contact .row form .inputBox i {
    color: #000000;
    font-size: 2rem;
    padding-left: 2rem;
  }
  
  .contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
  }
  
  .contact .row form .btn {
    font-weight: bold;
  }

  /* contact bitiş */

    /* footer başlangıç */

    .footer {
        background-color: #a8b9c5;
        text-align: center;
    }

    .footer .share a {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        color: #405260;
        font-size: 2.5rem;
        border: var(--border);
        border-radius: 50%;
        margin: 0.3rem;
        gap: 5rem;
    }

    .footer .share a:hover {
        background-color: #405260;
        color: #ffffff;
        transform: scale(1.5);
    }

    .footer .telif {
        font-size: 2rem;
        color: #FAFAFA;
        font-weight: 300;
        padding-top: 2rem;
    }

    /* footer bitiş */

/* Responsive başlangıç */

@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem 2rem;
    }
  
    .header .logo img {
      height: 7rem;
    }
  
    section {
      padding: 2rem;
    }
  
  }
  
  @media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
  
    .header .navbar {
      position: absolute;
      top: 95%;
      background-color: #405260;
      height: calc(100vh - 9rem);
      width: 30rem;
      box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
      right: -100%;
    }
  
    .header .navbar.active {
      right: 3rem;
    }
  
    .header .navbar a {
      color: #ffffff;
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  }
  
  @media (max-width: 576px) {
    html {
      font-size: 50%;
    }
  
    .header .search-form {
      width: 30rem;
    }
  }
  
    

  